*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /*background-color: #DFDBE5;*/
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230b9052' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");*/
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a {
     text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/*Navigation*/

.nav-main{
    font-size: 17px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;    
}

.nav-brand {
    width: 50px;
}

/*NAV LEFT*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 20px;
}

.nav-main ul li a{
    padding: 2px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid black;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/*SHOWCASE*/
hr{
    margin: 10px 0;
}

.showcase{
    margin: auto;
    margin-top: 20px;
    width: 70%;
    height: 650px;
    background: url(./img/Ambulance.jpg) no-repeat top center/cover;
    display:flex;
    flex-direction: column;
    text-align:center; 
    justify-content:flex-end;
    color: white;
    margin-bottom: 20px;
   /*align-items: center;*/
} 

/*.btn{
    cursor: pointer;
    display:inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid;
}*/

/*.btn:hover{
    color: yellowgreen;
}*/

header h2{
    text-align-last: center;
    font-size: 50px;
}

.showcase h2, .shocase p{
    margin-bottom:10px;
} 

.showcase h2 {
    text-transform: uppercase;
    color: yellowgreen;
    font-size: 40px;
    background: tomato;
}

.showcase p {
    font-size: 30px;
}
/*SERVICIOS*/

.servicios {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 30px 0px;
}

.servicios img{
    width: 180px;
    height: 180px;
}

.servicios h3{
    font-size: 20px;
    margin: 10px 0;
    
}

.servicios img{
    -webkit-transition: -webkit-transform 0.3 ease-in-out 0.1%;
    -ms-transition: -ms-transform 0.3 ease-in-out 0.1%;
    -o-transition: -o-transform 0.3 ease-in-out 0.1%;
    -moz-transition: -moz-transform 0.3 ease-in-out 0.1%;
}

.servicios img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.servicios a:hover{
    color: yellowgreen;
}
