*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a {
     text-decoration: none;
}

ul {
    list-style: none;
}

h1{
    background-color: yellowgreen;
    font-size: 50px;
    text-align: center;
    color: white;
}
/*SLIDER*/
.slider{
    display: block;
    width: 100%;
    height: 720px;
    overflow: hidden;
    align-items: center;
}

.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 100%;
}

@keyframes cambio{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/*Navigation*/

.nav-main{
    font-size: 17px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;    
}

.nav-brand {
    width: 50px;
}

/*NAV LEFT*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 20px;
}

.nav-main ul li a{
    padding: 2px;
}


.nav-main ul li a:visited{
    border-bottom: 2px solid black;
    color: #262626;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid black;
    color: yellowgreen;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/*SHOWCASE*/
hr{
    margin: 10px 0;
}

.showcase{
    margin: auto;
    display:flex;
    flex-direction: column;
    text-align:center; 
    justify-content:flex-end;
    color: white;
    margin-bottom: 20px;
} 

header h2{
    text-align-last: center;
    font-size: 40px;
    text-transform:uppercase ;
}

.showcase h2, .showcase p{
    margin-bottom:10px;
} 

.showcase h2 {
    text-transform: uppercase;
    color: yellowgreen;
    font-size: 40px;
    background: tomato;
}

.showcase p {
    font-size: 30px;
    color: #262626;
}
/*SERVICIOS*/

.servicios {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 30px 0px;
}

.servicios img{
    display:block;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.servicios h3{
    display: block;
    font-size: 20px;
    margin: 10px 0;
    text-align-last: center;
}

.servicios p{
    display: block;
    text-align: justify;
}
.servicios img{
    -webkit-transition: -webkit-transform 0.3 ease-in-out 0.1%;
    -ms-transition: -ms-transform 0.3 ease-in-out 0.1%;
    -o-transition: -o-transform 0.3 ease-in-out 0.1%;
    -moz-transition: -moz-transform 0.3 ease-in-out 0.1%;
}

.servicios img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.servicios a:hover{
    color: yellowgreen;
}

/*COBERTURA*/

.container2{
    margin: auto;
    width: 1080px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.slider{
    position: relative;
    width: 1080px;
    height: 700px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
}

ul.slider li img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity:1; 
}

ul.slider li:target{
    opacity: 1;
}

/*BOTONES SLIDE*/
.btn li a{
    margin: 10px 80px;
    text-decoration: none;
    display: block;
    border: 1px solid gray;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    background-color: yellowgreen;
}

.btn{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0px;
}

.servicios li{
    display:block;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.servicios a {
    display: block;
    font-size: 20px;
    margin: 10px 0px;
    text-align-last: center;
}
#servicios {
    background-color: yellowgreen;
    width: 20%;
    border-radius: 25px;
    margin: auto;
}

#cobertura{
    background-color: yellowgreen;
    width: 20%;
    border-radius: 25px;
    margin: auto;
}

#costos {
    background-color: yellowgreen;
    width: 20%;
    border-radius: 25px;
    margin: auto;
}
/*TARIFARIO*/
.tarifario img{
    width: 100%;
    height: 100%;
    justify-items: center;
}
